extends ./share/container.pug
block config
    - var title = '图书';
    - var keywords = '图书';
    - var description = '图书';
    - var currentId = 'book';
    - var pageCss = 'book';
    - var headerText = '图书';
    - var type = ['全部','文学','历史','哲学','经济','管理','教育','创新','自然科学'];
block append main
        #main.container
            .search
                input(type="text")
            .titlebar
                    h2 图书
                    img(src=imgUrl+"next.png", alt="")
            ul.typebar
                each val, index in type
                    li(class=index === 0?"active":"") #{val}
            ul.nav.clearfix
                li.active 默认
                li 借阅量
                li 评论
                li.fr 选择图书馆
                    img(src=imgUrl+"expand.png", alt="")
                    ul.subnav
                        li.active 图书馆1
                        li 图书馆2
            ul.booklist
                li
                    a(href="#")
                        img(src=imgUrl+"book16.jpg", alt="")
                        .panel
                            .row1 
                                h2.title 《鉴真东渡图》
                                .tag 借閲
                            .author 鉴真
                            .time 创作时间:唐代
                            .des 观众对我们的认可，我非常欣慰，但同时这也是这种遗憾，成为品质的代名观众对我们的认可。111111111111111111
                li
                    a(href="#")
                        img(src=imgUrl+"book16.jpg", alt="")
                        .panel
                            .row1 
                                h2.title 《鉴真东渡图》
                                .tag 借阅
                            .author 鉴真
                            .time 创作时间:唐代
                            .des 观众对我们的认可，我非常欣慰，但同时这也是这种遗憾，成为品质的代名观众对我们的认可。
block append js
        script.
            $(function(){
                $(".nav>li").click(function(){
                    if($(this).index() == 3){
                        $('.subnav').toggle();
                    }else{
                        updateHtml(this,'./js/data_book.json');
                    }
                })
                
                $(".nav .fr li").click(function(){
                    updateHtml(this,'./js/data_book.json');
                })

                $(".typebar li").click(function(){
                    updateHtml(this,'./js/data_book.json');
                })

                function updateHtml(that,url){
                    $(that).addClass('active').siblings().removeClass('active');
                        var el = $('.booklist');
                        getlist(el, url, function(data){
                        var html = '';

                        for (var i = 0; i < data.length; i++) {
                            var list = data[i];
                            html += '<li><a href="'+list.href+'"><img src="'+list.img+'">\
                                        <div class="panel">\
                                        <div class="row1">\
                                            <h2 class="title">'+list.name+'</h2>\
                                            <div class="tag">借阅</div>\
                                        </div>\
                                        <div class="author">'+list.author+'</div>\
                                        <div class="time">'+list.time+'</div>\
                                        <div class="des">'+list.des+'</div>\
                                        </div></a></li>';
                        }
                        el.html(html);
                    })
                }
            })