extends ./share/head.pug

block config
    - var title = '首页';
    - var keywords = '首页';
    - var description = '首页';
    - var currentId = 'index';
    - var pageCss = 'index';
    -
        var list = [
                {name:'且听风呤',img:'book10.jpg',href:'#'},
                {name:'空响炮',img:'book11.jpg',href:'#'},
                {name:'弹子袋',img:'book12.jpg',href:'#'},
                {name:'德国钢琴',img:'book13.jpg',href:'#'},
                {name:'唐代彩马',img:'book14.jpg',href:'#'},
                {name:'清代陶笛',img:'book15.jpg',href:'#'},
            ];
block append body
    body
        #main
            .input
                input(type="text")
            img.responsive(src=imgUrl+"banner.jpg")
            ul.nav
                li
                    a(href="#")
                        img(src=imgUrl+"scholar.png", alt="")
                li
                    a(href="#")
                        img(src=imgUrl+"collection.png", alt="")
            #recommend
                .titlebar
                    h2 推荐藏品
                    a.more 更多
                        img(src=imgUrl+"next.png", alt="")
                ul.content
                    each val, index in list
                        li.item
                            img(src=imgUrl+val.img, alt="")
                            h3.name #{val.name} 

        include ./share/footer.pug
        script(src=jsUrl+"jquery.js")
        script(src=jsUrl+"base.js")
        script.
            $(function(){
                $(".code").click(function(){
                    console.log('获取验证码');
                })
            })