extends ./share/head.pug

block config
    - var title = '首页';
    - var keywords = '首页';
    - var description = '首页';
    - var currentId = 'index';
    - var pageCss = 'index';
    -
        var list = [
                {name:'且听风呤',img:'book10.jpg',href:'#'},
                {name:'空响炮',img:'book11.jpg',href:'#'},
                {name:'弹子袋',img:'book12.jpg',href:'#'},
                {name:'德国钢琴',img:'book13.jpg',href:'#'},
                {name:'唐代彩马',img:'book14.jpg',href:'#'},
                {name:'清代陶笛',img:'book15.jpg',href:'#'},
            ];
block append body
    body
        #main.container
            .search
                input(type="text")
            img.responsive(src=imgUrl+"banner.jpg")
            ul.nav
                li
                    a(href="scholar.html")
                        img(src=imgUrl+"scholar.png", alt="")
                li
                    a(href="collection.html")
                        img(src=imgUrl+"collection.png", alt="")
            #recommend
                .titlebar
                    h2 推荐藏品
                    a.more(href="#") 更多
                        img(src=imgUrl+"next.png", alt="")
                ul.content
                    each val, index in list
                        li.item
                            a(href="#")
                                img(src=imgUrl+val.img, alt="")
                                h3.name #{val.name} 

        include ./share/footer.pug
        script(src=jsUrl+"jquery.js")
        script(src=jsUrl+"base.js")
        script.
            $(function(){
                var el = $('.content');
                $(document).scroll(function(){
                    getlist(el, './js/data_index.json', function(data){
                        var html = '';

                        for (var i = 0; i < data.length; i++) {
                            var list = data[i];
                            html += '<li class="item"><a href="' + list.href + '"><img src="' + list.img + '" alt=""><h3 class="name">' + list.name + '</h3></a></li>';
                        }
                        el.append(html);
                    })
                })
            })