extends ./share/container.pug
block config
    - var title = '学人榜';
    - var keywords = '学人榜';
    - var description = '学人榜';
    - var currentId = 'scholar';
    - var pageCss = 'scholar';
    - var headerText = '学人榜';
    -
        var list = [
            {name:'鉴真',img:'avatar1.jpg',fans:'56',attention:'562',des:'扬州人，佛门领袖，融合佛教各家所长。'},
            {name:'睢景臣',img:'avatar2.jpg',fans:'56',attention:'562',des:'扬州人，元代著名散曲、杂剧作家。'},
            {name:'汪曾祺',img:'avatar3.jpg',fans:'56',attention:'562',des:'扬州人，中国当代作家、散文家、戏剧家、京派作家'},
            {name:'王念孙',img:'avatar4.jpg',fans:'56',attention:'562',des:'扬州人，清朝翰林院庶吉士、工部主事、工部郎中'},
            {name:'孙云铸',img:'avatar5.jpg',fans:'56',attention:'562',des:'扬州人，近现代教育科研工作者'},
            {name:'王安国',img:'avatar6.jpg',fans:'56',attention:'562',des:'扬州人，清朝历任广东学政左都御史兼领广东巡抚'},
            {name:'张子谦',img:'avatar7.jpg',fans:'56',attention:'562',des:'扬州人，近现代教育科研工作者'}
        ];
block append main
        #main
            ul
                each val, index in list
                    li
                        img(src=imgUrl+val.img, alt="")
                        .des
                            .row1
                                .name #{val.name}
                                .tag.green 学人
                                .guanzu ＋ 关注
                            .row2 粉丝  #{val.fans}  |  关注  #{val.attention}
                            .row3 #{val.des}

block append js